*{
    margin: 0;
    padding: 0;
}

#header{
    font-family: "Raleway",sans-serif;
    height: 90px;
    overflow: hidden;
    width: 100%;
    /* position: sticky; */
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    
}
#logo{
    font-size: 30px;
    font-weight: 450;
    color: #7a6960;
    letter-spacing: 0.7px;
    padding-left: 80px;
    padding-top: 25px;
    cursor: pointer;
}
#menus{
    position: absolute;
    top: 34px;
    left: 600px;
}
.menu{
    display: inline;
    margin-right: 10px;
}
.menuname{
    color: #212529;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
    font-weight: 500;
}
.btn{
    position: absolute;
    font-family: "Open Sans",sans-serif;
    top: 22px;
    right: 120px;
    text-decoration: none;
    color: white;
    background-color: #eb5d1e;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
#banner{
    height: 100vh;
    width: 100%;
}

.sub-parent-banner{
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;

}
.banner-left{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    text-align: start;
    padding-top: 170px;
    padding-left: 60px;
}

.banner-right{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
}
.banner-title{
    color:#7a6960;
    font-size: 48px;
    font-family: "Raleway",sans-serif;
}
.banner-para{
    font-size: 20px;
    font-family: "Opens Sans";
    color: #212529c1;
    margin-top: 20px;
}
.btn-group{
    position: absolute;
    top: 380px;
    left: 210px;
}
.btns{
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 0.3px;
}
.btn1{
    background-color: #eb5d1e;
    color: white;
    font-size: 15px;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
}
.btn2{
    color: black;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    border: 2px solid transparent;

}
.banner-img{
    margin-top: 100px;
    margin-left: 105px;
    height: 439;
    width: 636px;
    background-image: url(banner-img.svg);
}

#map{
    padding: 15px 5px;
    height: 400px;
    /*  */
}
#service{
    height: 500px;
    background: rgb(81, 80, 80);
    overflow: hidden;

}
#service-title{
    color: #eb5d1e;
    text-align: center;
    margin-top: 30px;
    font-family: "Poppins",sans-serif;
    font-size: 35px;
    letter-spacing: 0.2px;
}
#parentbox{
    display: flex;
    justify-content: space-evenly;

}
.box{
    height: 280px;
    width: 280px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.box-title{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    margin-top: 15px;
    padding: 5px;
    color: #eb5d1e;
    text-transform: uppercase;
    border-bottom: 1px double #f6520b;
}
.box-para{
    margin-top: 35px;
    color: white;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
}
#contacts{
    display: flex;
    padding: 20px 25px;
    background: rgb(81, 80, 80);
    color: white;
}

.boxx{
    padding: 5px 8px;
}
.box1{
    flex: 2;
}
.box2{
    flex: 1;
}

#links{
    list-style-type: none;
    padding: 0;
}
#links a{
    text-decoration: none;
    margin-left: 4px;
    color: white;
    cursor: pointer;
}
.link{
    text-align: left;
    padding: 3px 0px;
    cursor: pointer;
    margin-top: 10px;
}
#inputs,#btn{
    padding: 5px 8px;
}
#inputs{
    outline: none;
    margin-top: 40px;
}
#btn{
    border: 2px solid #eb5d1e;
    background: #eb5d1e;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.brands{
    color: white;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #eb5d1e;
    cursor: pointer;
    margin-left: 5px;
}
.spac{
    margin-top: 10px;
}
.social-icons{
    margin-top: 20px;
}

.symbols{
    color: #eb5d1e;
    font-size: 13px;
}
#links a:hover{
    color: #eb5d1e;
}
.link:hover{
    color: #eb5d1e;
}
.brands:hover{
    color: black;
    background: #eb5d1e;
}
.box:hover{
    border-color: #eb5d1e;
}
.dot{
    color: #eb5d1e;
}
.logo-text{
    color: #eb5d1e;
}
.btn1:hover{
    background-color: #f6520b;
}
.btn2:hover{
    border: 2px solid #eb5d1e;
}
.menuname:hover{
    color: #eb5d1e;
}
.btn:hover{
    background-color: #eb5c1ed8;
}
#data-form{
    padding: 15px 20px;
    background: black;
    
}
.sub-parent-form{
    display: flex;
    padding: 15px 20px;
}
.left-data-form{
    flex: 1;
    /* background: greenyellow; */
    color: white;
}
.right-data-form{
    /* background: blue; */
    flex: 1;
    padding: 5px;
    /* justify-content: center; */
}
.inpts{
    width: 100%;
    padding: 8px 10px;
    margin-top: 20px;
    outline: none;
    border: 2px solid #eb5d1e;
    
}
.input-groups{
    display: flex;
    gap: 8px;
}
.parent-icons{
    display: flex;
    /* background: red; */
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.icos{
    padding: 20px;
    background: #f6520b;
    border-radius: 30%;
    /* height: 50px; */
    /* width: 40px; */
}
.icos,.ico-para{
    margin-bottom: 25px;
}

/* .ics{
    /* margin-top: 20px; }*/
.ico-para p{
    font-size: 18px;
}
.active{
    color: #eb5d1e;
}
footer{
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding: 30px 0px;
    background: rgba(0, 0, 0, 0.96);
    color: white;
}