*{
    margin: 0;
    padding: 0;
}
#header{
    height: 80px;
    background: black;
    position: relative;
    width: 100%;
}
#logo{
    color: white;
    font-family: "Poppins",sans-serif;
    padding-top: 15px;
    padding-left: 60px;
    font-size: 32px;
    letter-spacing: 0.1px;
    cursor: pointer;
}
#menus{
    position: absolute;
    top: 32px;
    left: 450px;
}
.dot{
    color: #ffc451;
}

.menu{
    display: inline;
    margin-left: 40px;
    
}
.menuname{
    text-decoration: none;
    color: white;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2px;

}
.active{
    color: #ffc451;
}
.menuname:hover{
    color: #ffc451;
}
.btn{
    position: absolute;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    color: white;
    top: 25px;
    right: 120px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 8px 10px;
    border: 2px solid #ffc451;
    border-radius: 8px;
}
.btn:hover{
    color: black;
    background: #ffc451;
}
#banner{
    background-image: url(banner.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}
#sub-parent-banner{
    position: absolute;
    top: 130px;
    left: 120px;
}
#banner-title{
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 56px;
    letter-spacing: 0.5px;
}
#banner-para{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    color: #cccccc92;
    letter-spacing: 0.1px;
}
#about{
    height: 560px;
    width: 100%;
    overflow: hidden;
    background: black;
    font-family: "Poppins",sans-serif;
}
#about-title{
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 35px;
    margin-top: 15px;
    color: white;
    font-family: "Roboto",sans-serif;
}
.sub-parent-about{
    display: flex;
    padding: 10px;
    margin: 10px;
}
.about-left{
    height: 560px;
    width: 47%;
    color: white;
    padding: 2%;

}
#about-left-title{
    font-size: 22px;
    margin-top: 20px;

}
.about-left-para{
    font-size: 18px;
    margin-top: 20px;

}
#about-pts{
    font-size: 16px;
    margin-top: 25px;
}
.pts{
    list-style-type: square;
    padding: 5px;
    margin-top: 10px;
    

}
.about-right{
    height: 550px;
    width: 50%;
    background-image: url(/WEB_DEVELOPMENT/HTML/Header/GP/about.jpg);
    background-size: cover;
    border-radius: 10px;
    

}
#service{
    height: 500px;
    background: black;
    overflow: hidden;

}
#service-title{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: "Poppins",sans-serif;
    font-size: 35px;
    letter-spacing: 0.2px;
}
#parentbox{
    display: flex;
    justify-content: space-evenly;

}
.box{
    height: 280px;
    width: 280px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.box-title{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    margin-top: 15px;
    padding: 5px;
    color: #ffc451;
    text-transform: uppercase;
    border-bottom: 1px double #ffc451;
}
.box-para{
    margin-top: 35px;
    color: white;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
}
.box:hover{
    border-color: #ffc451;
}

#map{
    padding: 15px 5px;
    height: 400px;
    /*  */
}
#contacts{
    display: flex;
    padding: 10px 20px;
    background: black;
    color: white;
}

.boxx{
    padding: 5px 8px;
}
.box1{
    flex: 2;
}
.box2{
    flex: 1;
}
#links{
    list-style-type: none;
    padding: 0;
}
#links a{
    text-decoration: none;
    margin-left: 4px;
    color: white;
    cursor: pointer;
}
.link{
    text-align: left;
    padding: 3px 0px;
    cursor: pointer;
    margin-top: 10px;
}
#inputs,#btn{
    padding: 5px 8px;
}
#inputs{
    margin-top: 40px;
    outline: none;
}
#btn{
    border: 2px solid #ffc451;
    background: #ffc451;
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.brands{
    color: white;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #ffc451;
    cursor: pointer;
}
.spac{
    margin-top: 10px;
}
.social-icons{
    margin-top: 20px;
}
.symbols{
    color: #ffc451;
    font-size: 13px;
}

#data-form{
    padding: 15px 20px;
    background: black;
    
}
.sub-parent-form{
    display: flex;
    padding: 15px 20px;
}
.left-data-form{
    flex: 1;
    /* background: greenyellow; */
    color: white;
}
.right-data-form{
    /* background: blue; */
    flex: 1;
    padding: 5px;
    /* justify-content: center; */
}
.inpts{
    width: 100%;
    padding: 8px 10px;
    margin-top: 20px;
    outline: none;
    border: 2px solid #ffc451;
    
}
.input-groups{
    display: flex;
    gap: 8px;
}
.parent-icons{
    display: flex;
    /* background: red; */
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.icos{
    padding: 26px 20px;
    background: #ffc451;
    border-radius: 30%;
    margin-bottom: 8px;
    /* height: 50px; */
    /* width: 40px; */
}
/* .ics{
    /* margin-top: 20px; }*/
.ico-para p{
    font-size: 18px;
}
/* .ico-arrange{
    /* margin-top: 20px; }*/

#links a:hover{
    color: #ffc451;
}
.link:hover{
    color: #ffc451;
}
.brands:hover{
    color: black;
    background: #ffc451;
}

footer{
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding: 30px 0px;
    background: rgba(0, 0, 0, 0.96);
    color: white;
}
.fa-bars{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
    display: none !important;
}

@media screen and (min-width:480px) and (max-width:600px) {
    #header{
        height: 60px;
    } 
    .btn{
        display: none;
    }
    #menus{
        display: none;
    }
    #logo{
        padding-top: 15px;
        padding-left: 25px;
        font-size: 25px;
    }
    .fa-bars{
        display: block !important;
    }
    #banner{
        background: url(/WEB_DEVELOPMENT/HTML/Header/GP/banner-mobi.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #sub-parent-banner{
        top: 100px;
        left: 60px;
    }
    #banner-title{
        text-align: center;
        font-size: 40px;
    }
    #banner-para{
        font-size: 20px;
        text-align: center;
    }
    #about-title{
        font-size: 28px;
    }
    .sub-parent-about{
        display: flex;
        flex-direction: column;
    }
    .about-left{
        width: 100%;
        text-align: center;
    }
    #about-left-title{
        font-size: 16px;
    }
    .about-left-para{
        font-size: 14px;
        margin-top: 20px;
    
    }
    #about-pts{
        font-size: 16px;
    }
    .pts{
        padding: 1px;
    }
    .about-right{
        display: none;
    }
    #service{
        height: 780px;
    }
    #service-title{
        font-size: 28px;
    }
    #parentbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        height: 155px;
        width: 350px;
        padding: 15px;
    }
    .box-title{
        font-size: 16px;
    }
    .box-para{
        font-size: 14px;
    }
    .box:hover{
        border-color: white;
    }
    
    #contacts{
        display: flex;
        flex-direction: column;
    }
    .sub-parent-form{
        display: flex;
        flex-direction: column;
    }


}

