*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;

}
#header{
    position: relative;
    height: 70px;
    background: black;
}
.logo{
    color: white;
    padding-left: 40px;
    padding-top: 18px;
    font-size: 32px;
    cursor: pointer;

}
.dot{
    color: #ffc451;
}
.menus{
    position: absolute;
    top: 25px;
    left: 420px;
}

.menu{
    display: inline;
    padding-left: 40px;
}

.menuname{
    font-size: 16px;
    font-weight: 450;
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
}
.btn{
    position: absolute;
    font-size: 14px;
    top: 15px;
    right: 50px;
    height: 25px;
    width: 100px;
    border: 2px solid #ffc451;
    padding-top: 7px;
    padding-left: 20px;
    color: white;
    background: black;
    border-radius: 8px;
    text-decoration: none;
}
.active{
    color: #ffc451;
}
.logo:hover{
    color: #ffc451;
}

.btn:hover{
    color: black;
    background: #ffc451;
}
.menuname:hover{
    color: #ffc451;
}

#banner{
    background-image: url(D:\\WEB_DEVELOPMENT\\HTML\\Header\\Bethany\\banner.jpg);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.sub-banner-parent{
    margin-top: 110px;
    margin-left: 200px;
}
.banner-title{
    color: white;
    letter-spacing: 0.4px;
    font-size: 56px;
    font-family: "Poppins",sans-serif;
}
.banner-para{
    color: #cccccc9f;
    letter-spacing: 0.1px;
    font-size: 24px;
    margin-top: 10px;
    font-family: "Roboto",sans-serif;
}

.icon-group{
    padding-top: 50px;
}
.icon-box{
    height: 150px;
    width: 150px;
    border: 2px solid #cccccc4c;
    display: inline-block;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    
}
.icon-text{
    margin-top: 60px;
}
.icon-box:hover{
    border-color: #ffc451;
    color: #ffc451;
}